@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Thin.ttf');
    font-weight: 100;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-ThinItalic.ttf');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Black.ttf');
    font-weight: 900;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-BlackItalic.ttf');
    font-weight: 900;
    font-style: italic;
}

/*
* -----------------------------------------------------------------
*  Rachana Malayalam
* -----------------------------------------------------------------
*/

@font-face {
    font-family: 'Rachana';
    src: url('../fonts/Rachana/RIT-Rachana-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Rachana';
    src: url('../fonts/Rachana/RIT-Rachana-Bold.ttf');
    font-weight: bold;
}

.ml, .ml * {
    font-family: 'Rachana', 'Lato', 'sans-serif' !important;
}

/*
* -----------------------------------------------------------------
*  Droid Kufi Arabic
* -----------------------------------------------------------------
*/

@font-face {
    font-family: 'DroidKufi';
    src: url('../fonts/Droid-Kufi/DroidKufi-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'DroidKufi';
    src: url('../fonts/Droid-Kufi/DroidKufi-Bold.ttf');
    font-weight: bold;
}

.ar, .ar * {
    font-family: 'DroidKufi', 'Lato', 'sans-serif' !important;
}
/*
* -----------------------------------------------------------------
*  Noto Nastaliq Urdu
* -----------------------------------------------------------------
*/

@font-face {
    font-family: 'NotoNastaliqUrdu';
    src: url('../fonts/Noto-Urdu/NotoNastaliqUrdu-Regular.ttf');
    font-weight: 400;
}

.ur, .ur * {
    font-family: 'NotoNastaliqUrdu', 'Lato', 'sans-serif' !important;
}